@page "/onboarding/invoices"

@inherits PageBase
<PageTitle>Invoices - Profile</PageTitle>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
		<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Mobile Toggle-->
				<button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
					<span></span>
				</button>
				<!--end::Mobile Toggle-->
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">Invoices</h5>
					<!--end::Page Title-->
					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">

						<li class="breadcrumb-item text-muted">
							<a href="/onboarding/profile" class="text-muted">Profile</a>
						</li>
						<li class="breadcrumb-item text-muted">
							<a href="#" class="text-muted">Invoices</a>
						</li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Profile Change Password-->
			<div class="d-flex flex-row">
				<ProfileSidebar ActivePage="Invoices" PageModel="CurrentUser"></ProfileSidebar>
				<!--begin::Content-->
				<div class="flex-row-fluid ml-lg-8">
					<!--begin::Card-->
					<div class="card card-custom">
						<!--begin::Header-->
						<div class="card-header py-3">
							<div class="card-title align-items-start flex-column">
								<h3 class="card-label font-weight-bolder text-dark">Invoices</h3>
								<span class="text-muted font-weight-bold font-size-sm mt-1">View invoices</span>
							</div>
							<div class="card-toolbar">
								@*<button type="reset" class="btn btn-success mr-2">Save Changes</button>
								<button type="reset" class="btn btn-secondary">Cancel</button>*@
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Form-->
						<form class="form">
							<div class="card-body">

								@if (PageModel != null && PageModel.Count > 0)
								{
									<!--begin: Datatable-->
									<table class="table table-bordered table-checkable" id="kt_datatable">
										<thead>
											<tr>
												<th width="150px">Ref#</th>
												<th>Description</th>
												<th width="120px">Amount</th>
												<th width="80px">Date</th>
												<th width="100px">Status</th>

												<th width="50px"></th>
											</tr>
										</thead>
										<tbody>
											@foreach(var item in PageModel)
											{
												<tr>
													<td>@item.Reference</td>
													<td>@item.Description</td>
													<td>@item.TotalAmount.ToString("N2")</td>
													<td>@item.InvoiceDate.ToShortDateString()</td>
													@if (item.PaymentStatus == InvoicePaymentStatus.NotPaid)
													{
														<td>Not Paid</td>
													}
													else if (item.PaymentStatus == InvoicePaymentStatus.PartialPaid)
													{
														<td>Partial Payment</td>
													}
													else if (item.PaymentStatus == InvoicePaymentStatus.FullyPaid)
													{
														<td>Fully Paid</td>
													}

													<td nowrap="nowrap">

														@if(item.PaymentStatus != InvoicePaymentStatus.FullyPaid)
														{
															<a href="/onboarding/invoice/@item.Id" class="btn btn-sm btn-clean btn-icon mr-2" data-toggle="tooltip" title="Make Payment">
																<span class="svg-icon svg-icon-primary svg-icon-2x">
																	<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo9/dist/../src/media/svg/icons/Shopping/Cart1.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<title>Stockholm-icons / Shopping / Cart1</title>
																		<desc>Created with Sketch.</desc>
																		<defs />
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z" fill="#000000" opacity="0.3" />
																			<path d="M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z" fill="#000000" />
																		</g>
																	</svg><!--end::Svg Icon-->
																</span>
															</a>
														}


														<a href="@PortalUrl/Verifications/DownloadInvoice?invoiceId=@item.Id" class="btn btn-sm btn-clean btn-icon mr-2" data-toggle="tooltip" title="Download" target="_blank">
															<span class="svg-icon svg-icon-primary svg-icon-2x">
																<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo9/dist/../src/media/svg/icons/Files/Download.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<title>Stockholm-icons / Files / Download</title>
																	<desc>Created with Sketch.</desc>
																	<defs />
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																		<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="1" width="2" height="14" rx="1" />
																		<path d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) " />
																	</g>
																</svg><!--end::Svg Icon-->
															</span>
														</a>
													</td>
												</tr>
											}
										</tbody>
									</table>
									<!--end: Datatable-->
								}
								else
								{
									<!--begin::Alert-->
									<div class="alert alert-custom alert-light-success fade show mb-10" role="alert">
										<div class="alert-icon">
											<span class="svg-icon svg-icon-3x svg-icon-success">
												<!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
														<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
														<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</div>
										<div class="alert-text font-weight-bold">
											There are no invoices at this time!
										</div>
										@*<div class="alert-close">
									<button type="button" @onclick="ResponseToQuery()">
									<span aria-hidden="true">
									<i class="ki ki-close"></i>
									</span>
									</button>
									</div>*@
									</div>
									<!--end::Alert-->
								}
							</div>
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!--end::Content-->
			</div>
			<!--end::Profile Change Password-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>
<!--end::Content-->

