@inherits LayoutComponentBase
<BlazorSpinner.Spinner></BlazorSpinner.Spinner>
	<!--begin::Main-->
		<PageHeaderMobile></PageHeaderMobile>
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<PageHeader></PageHeader>
					@Body
					<PageFooter></PageFooter>
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		<PageUserPanel></PageUserPanel>		
		<PageScrolltop></PageScrolltop>