@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
	<!--begin::Login-->
	<div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
		<div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('/assets/media/bg/bg-3.jpg');">
			<div class="login-form text-center p-7 position-relative overflow-hidden">
				<!--begin::Login Header-->
				<div class="d-flex flex-center mb-15">
					<a href="/">
						<img src="~/assets/media/logos/nibbs_logo.png" class="max-h-75px" alt="" />
					</a>
				</div>
				<!--end::Login Header-->
				<!--begin::Login Sign in form-->
				<div class="login-signin">
					<div class="mb-20">
						<h3>Sign In To Admin</h3>
						<div class="text-muted font-weight-bold">Enter your email:</div>
					</div>
					<form class="form" method="post">
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group mb-5">
							<input asp-for="Input.Email" class="form-control h-auto form-control-solid py-4 px-8" placeholder="Email" autocomplete="off" />
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
												
						<button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Reset Password</button>
					</form>
					
				</div>
				<!--end::Login Sign in form-->

			</div>
		</div>
	</div>
	<!--end::Login-->
</div>
<!--end::Main-->

@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
