@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
	<!--begin::Login-->
	<div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
		<div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('/assets/media/bg/bg-3.jpg');">
			<div class="login-form text-center p-7 position-relative overflow-hidden">
				<!--begin::Login Header-->
				<div class="d-flex flex-center mb-15">
					<a href="#">
						<img src="~/assets/media/logos/nibbs_logo.png" class="max-h-75px" alt="" />
					</a>
				</div>
				<!--end::Login Header-->
				
				<!--begin::Login Sign up form-->
	<div class="login-signup">
		<div class="mb-20">
			<h3>Sign Up</h3>
			<div class="text-muted font-weight-bold">Enter your details to create your account</div>
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
		<form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

						<input type="hidden" asp-for="Input.InvitationCode" />

			<div class="form-group mb-5">
							<input asp-for="Input.CompanyName" class="form-control h-auto form-control-solid py-4 px-8" placeholder="Company Name" />
							<span asp-validation-for="Input.CompanyName" class="text-danger"></span>
			</div>

						<div class="form-group mb-5">
							<input asp-for="Input.AdminName" class="form-control h-auto form-control-solid py-4 px-8" placeholder="Institution Admin Name" />
							<span asp-validation-for="Input.AdminName" class="text-danger"></span>
						</div>

			<div class="form-group mb-5">
							<input asp-for="Input.AdminEmail" class="form-control h-auto form-control-solid py-4 px-8" placeholder="Institution Admin Email" autocomplete="off" />
				<span asp-validation-for="Input.AdminEmail" class="text-danger"></span>
			</div>

			<div class="form-group mb-5">
							<div class="input-group">
								<input asp-for="Input.Password" class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" aria-describedby="basic-addon2" />
			
								@*<div class="input-group-append">
									<span class="input-group-text">
										<i class="la la-eye-slash icon-lg"></i>
									</span>
								</div>*@
							</div>
				
							<!--begin::Hint-->
							<div class="text-muted">Use 10 or more characters with a mix of letters,lower &amp Upper case , numbers &amp; symbols.</div>
							<!--end::Hint-->
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>

			<div class="form-group mb-5">
				<input asp-for="Input.ConfirmPassword" class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Confirm Password"  />
							<!--begin::Hint-->
							<div class="text-muted">Use 10 or more characters with a mix of letters,lower &amp Upper case , numbers &amp; symbols.</div>
							<!--end::Hint-->
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			@*<div class="form-group mb-5 text-left">
				<div class="checkbox-inline">
					<label class="checkbox m-0">
						<input type="checkbox" name="agree" />
						<span></span>I Agree the
						<a href="#" class="font-weight-bold ml-1">terms and conditions</a>.
					</label>
				</div>
				<div class="form-text text-muted text-center"></div>
			</div>*@
			<div class="form-group d-flex flex-wrap flex-center mt-10">
				<button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Sign Up</button>
				<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</a>
			</div>
		</form>
	</div>
	<!--end::Login Sign up form-->
			</div>
		</div>
	</div>
	<!--end::Login-->
</div>
<!--end::Main-->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	<script src="/assets/js/custom/authentication/sign-up/general.js"></script>
}
